<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="false" scanPeriod="20 seconds" debug="false">

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>%level %logger{0} [%thread] %msg%n%ex</pattern>
        </encoder>
    </appender>

    <logger name="com.mycila.hc.HttpClient" level="INFO"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>

</configuration>
